language: python

sudo: required
dist: trusty

python:
    - "2.7"
    - "3.4"

virtualenv:
    system_site_packages: true

addons:
  apt:
    packages:
    - libboost-program-options-dev
    - libboost-filesystem-dev
    - libhdf5-dev
    - python-numpy
    - python3-numpy
    - python-matplotlib
    - python3-matplotlib
    - python-nose
    - python3-nose
    - python-coverage
    - python3-coverage
    - python-tk
    - python3-tk

before_install:
    - VERSION=1.5.1
    - cwd=$(pwd)
    - git clone -b trusty https://github.com/archman/packages.git
    - cd packages/trusty
    - sudo dpkg -i *${VERSION}*.deb
    - cd ${cwd}

script:
    - cd tests
    - make test
