Source: flame-utils
Section: python
Priority: optional
Maintainer: Tong Zhang <zhangt@frib.msu.edu>
Build-Depends: debhelper (>=9),dh-python,python-all (>=2.6.6-3~),python3-all,python-setuptools,python3-setuptools,python-nose,python3-nose,python-coverage,python3-coverage,python-flame,python3-flame,python-matplotlib,python3-matplotlib,python-numpy,python3-numpy,python-tk,python3-tk
Standards-Version: 3.9.6
Homepage: https://github.com/frib-high-level-controls/flame-utils
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.4
Vcs-Git: https://github.com/frib-high-level-controls/flame-utils.git
Vcs-Browser: https://github.com/frib-high-level-controls/flame-utils

Package: python-flame-utils
Architecture: all
Depends: python-flame, ${python:Depends}, ${misc:Depends}
Suggests: flame
Description: Python package to support python-flame (Python 2)
 Python package to provide useful utilities for python-flame.
 .
 Build upon python-flame, higher-level interface to make it easy and
 efficient when using python-flame package.
 .
 This package installs the library for Python 2.

Package: python3-flame-utils
Architecture: all
Depends: python3-flame, ${python3:Depends}, ${misc:Depends}
Suggests: flame
Description: Python package to support python3-flame (Python 3)
 Python package to provide useful utilities for python3-flame.
 .
 Build upon python3-flame, higher-level interface to make it easy and
 efficient when using python3-flame package.
 .
 This package installs the library for Python 3.
